streamlit
langchain-community
langchain-openai
langchain-text-splitters
scikit-learn
networkx
nltk
spacy
futures
langchain-core
tqdm
matplotlib
typing
streamlit-chat
pypdf
faiss-cpu
transformers
torch
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz