streamlit
scikit-learn
networkx
nltk
futures
# tqdm
matplotlib
typing
streamlit-chat
pypdf
openai
langchain-community
faiss-cpu
transformers
python-multipart
fastapi[all]
transformers
annoy
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz